# Environment variables
**/.env
.env

# Virtual environment folders
**/venv/
venv/
**/env/
env/
.venv/
.env/

# Python virtual environment folders with custom names
**/*venv/
**/*.venv/

# Python bytecode
**/__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
